fastapi
uvicorn
python-dotenv
pydantic-settings
sqlalchemy
databases[sqlite]
sentence-transformers
numpy
scikit-learn
requests
chromadb
google-genai
firebase-admin
pillow
rembg
torch
transformers
python-multipart
email-validator