fastapi
uvicorn
python-dotenv
pydantic-settings
sqlalchemy
databases[sqlite]
sentence-transformers
numpy
scikit-learn
requests
streamlit
opencv-python
pillow
transformers
torch
torchvision
rembg[cpu]
